.task {
  width: inherit;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 8px;

  background: var(--gray-400);
  border-radius: 8px;
  border: 1px solid var(--gray-400);

  padding: 1rem;

  font-weight: 400;
  color: var(--gray-100);

}

/* .task p {
  margin-bottom: 16px;
} */

.task img {
  object-fit: cover;
}

.taskChecked {
  color: var(--gray-300);
  text-decoration: line-through;
}